<style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #add8e6; /* Cor azul claro */
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #6495ed; /* Cor azul ao passar o mouse */
}

</style>
<ul>
 <li><a href="/">Início</a></li>
 <li><a href="/sobre">Sobre</a></li>
</ul>
