<!DOCTYPE html>
<html lang="pt-Br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aprendendo NodeJs</title>
  <link rel="icon" href="/views/layouts/img/node.svg" type="image/x-icon">

</head>
<body>

  {{>menu}}
  {{{body}}}
  
</body>
</html>