<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mim</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        h1, h2 {
            color: #333;
            margin-left: 0.5em;
        }
        p {
            color: #666;
            margin: 0.5em;
            margin-bottom: 1em;
        }
        table {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
        }
        th {
            background-color: #add8e6;
            color: #000;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .titulo {
            text-align: center;
        }
        footer {
            background-color: #add8e6;
            color: #000;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        main {
            max-width: 800px;
            margin: 50px auto;
            text-align: justify;
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1 class="titulo">Sobre Mim</h1>
    <main>
        <p>Estou constantemente evoluindo como desenvolvedor Full-stack, buscando aprimorar minha abordagem e desenvolver habilidades mais aprofundadas nas tecnologias emergentes. Dedico meu tempo ao aprendizado contínuo e à aplicação prática das últimas ferramentas e frameworks no universo do desenvolvimento web.</p>

        <p>Meu foco está na maestria das técnicas e experiências tanto no Frontend quanto no Backend, aspirando a tornar-me um desenvolvedor de alto desempenho. Possuo sólido conhecimento em design de banco de dados e busco ampliar minha proficiência em programação, explorando conceitos avançados e adotando as melhores práticas da indústria.</p>
    </main>

    <footer>
        Powered by Gleysson Produções
    </footer>
</body>
</html>
